<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>API Aggregator</title>
  </head>
  <body>
  
  
  
  <div class="container d-flex" style="height:600px;">
     <div class="row d-flex justify-content-center col-md-12 align-items-center">
       <form action="/show" method="GET" class="col-md-9">
        <div class="form-group">
            <label for="url">Url Odoo:</label>
            <input type="text" name="url" id="url" placeholder="Insere ici l'url"  class="form-control" >
        </div>
        
        <div class="form-group">
             <label for="username">Username:</label>
             <input type="text" name="username" id="username" placeholder="Insere ici votre Username" class="form-control" >
        </div>
        
        
        <div class="form-group">
             <label for="database">Database:</label>
             <input type="text" name="database" id="database" placeholder="Insere ici votre database" class="form-control" >         
        </div>
        
        <div class="form-group">
             <label for="apikey">Api Key:</label>
             <input type="text" name="apikey" id="apikey" placeholder="Inserer ici votre API KEY" class="form-control" >
        </div>
        
        <button type="submit" class="btn btn-outline-primary">Se connecter à Odoo</button>
       
       </form>
     </div>
  </div>
  </body>
</html>