<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>API Aggregator</title>
  </head>
  <body>
  		<h1>Vous etes connecter sur odoo</h1>
       
       <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	   <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	   <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
  </body>
</html>